KAFKA_BROKER=db-kafka-ultraffic-do-user-13356586-0.d.db.ondigitalocean.com:25073
KAFKA_TOPIC=user-activity
KAFKA_USERNAME=doadmin
KAFKA_PASSWORD=
REDIS_URI=redis://localhost:6379
CLICKHOUSE_HOST=167.172.71.234
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=analytics
GOOGLE_API_KEY=
AGENT_BASE_URL=
AGENT_API_KEY=
AGENT_MODEL=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_LIST_TOKEN=
