KAFKA_BROKER=95.111.195.188:9092
KAFKA_TOPIC=user-activity
REDIS_URI=redis://localhost:6379
CLICKHOUSE_HOST=167.172.71.234
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=analytics
GOOGLE_API_KEY=
AGENT_BASE_URL=
AGENT_API_KEY=
AGENT_MODEL=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_LIST_TOKEN=
