[Unit]
Description=Security Monitor (IP Check)
After=network.target

[Service]
User=root
WorkingDirectory=/home/clickHouse-api
ExecStart=/home/clickHouse-api/env/bin/python /home/clickHouse-api/run_security_check.py
Restart=always
RestartSec=10
EnvironmentFile=/home/clickHouse-api/.env

[Install]
WantedBy=multi-user.target